@import "bourbon";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "SegoeUIRegular", sans-serif;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  &__content {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }
}

.hidden {
  display: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
  @media(min-width: 1000px) {
    padding: 0;
  }
  &--lg {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.top-panel {
  width: 100%;
  height: 60px;
  background-color: #fff;
  &__wrap {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  width: 89px;
  height: 25px;
  margin-left: 20px;
  @media(min-width: 500px) {
    margin-left: 30px;
  }
  img {
    max-width: 100%;
  }
}
.menu {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin-left: 52px;
  @media(min-width: 620px) {
    display: flex;
  }
  &__item {
    margin-right: 35px;
  }
  &__link {
    position: relative;
    color: #333;
    font-size: 12px;
    font-family: "SegoeUISemiBold", sans-serif;
    text-transform: uppercase;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      left: 0;
      bottom: -20px;
      background-color: #e64e2c;
      opacity: 0;
      transition: all .4s;
    }
    &--active {
      &:after {
        opacity: 1;
      }
    }
    &:hover {
      &:after {
        opacity: 1;
        transition: all .4s;
      }
    }
    &--white {
      color: #fff;
    }
  }
}
.toggle-menu {
  margin-right: 20px;
  padding-right: 37px;
  color: #333;
  font-family: "SegoeUISemiBold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-image: url("../img/icons/icon-gumburger.png");
  background-repeat: no-repeat;
  background-position: right center;
  opacity: 1;
  @media(min-width: 500px) {
    margin-right: 10px;
  }
  @media(min-width: 620px) {
    opacity: 0;
  }
  &--white {
    color: #fff;
    background-image: url("../img/icons/icon-gumburger--white.png");
  }
}
.menu-sub {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  @media(min-width: 600px) {
    flex-direction: row;
  }
  &__item {
    margin: 5px 10px;
    @media(min-width: 600px) {
      margin: 0 10px;
    }
  }
  &__link {
    height: 30px;
    padding: 3px 20px;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    transition: all .4s;
    &--active {
      background-color: #fff;
    }
    &:hover {
      background-color: #fff;
      transition: all .4s;
    }
  }
}

.banner {
  position: relative;
  width: 100%;
  padding: 48px 0 90px 0;
  line-height: 1.2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    color: white;
    font-family: "SegoeUILight", sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    line-height: 1.1;
    span {
      display: block;
    }
  }
  &__description {
    max-width: 700px;
    margin: 27px auto 0 auto;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 1.3;
  }
  &__links {
    margin-top: 40px;
    text-align: center;
  }
  &__link {
    display: block;
    width: 180px;
    height: 50px;
    margin: 0 auto 20px auto;
    color: #e64e2c;
    font-family: "SegoeUISemiBold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    line-height: 3.6;
    transition: all .3s;
    @media(min-width: 500px) {
      display: inline-block;
      margin: 0 10px 0 0;
    }
    &:hover {
      color: #fff;
      background-color: transparent;
      transition: all .3s;
    }
    &:last-child {
      color: #fff;
      background-color: transparent;
      &:hover {
        color: #e64e2c;
        background-color: #fff;
      }
    }
  }
}

.section {
  padding: 60px 0;
  &__title {
    color: #333;
    font-family: "SegoeUILight", sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    line-height: 1.2;
  }
  &__description {
    color: #333;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
}

.content-top {
  .section__title {
    margin-top: 100px;
    @media(min-width: 600px) {
      margin-top: 0;
    }
  }
}

.video {
  position: relative;
  max-width: 620px;
  width: 100%;
  height: 346px;
  left: 50%;
  background-color: black;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.24);
  background-image: url("../img/picture/video_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transform: translateX(-50%);
  cursor: pointer;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
    transition: all .4s;
  }
  &:after {
    position: absolute;
    content: '';
    width: 96px;
    height: 96px;
    top: 50%;
    left: 50%;
    background-color: #fbb415;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    background-image: url("../img/icons/icon-play.png");
    background-repeat: no-repeat;
    background-position: 34px center;
    opacity: 1;
    transition: all .4s;
  }
  &:hover {
    &:before {
      opacity: 1;
      transition: all .4s;
    }
    &:after {
      opacity: .5;
      transition: all .4s;
    }
  }
}

.upgrade {
  width: 100%;
  padding: 21px 0;
  background-color: #4bc1de;
  background-image: linear-gradient(to left, #e13731 0%, #fdb515 100%);
  .banner__links {
    margin-top: 20px;
    @media(min-width: 1000px) {
      margin-top: 0;
    }
  }
  .banner__link {
    width: 130px;
    margin: 0 5px 20px 0;
    @media(min-width: 500px) {
      margin: 0 5px 0 0;
    }
  }
  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media(min-width: 1000px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__title {
    margin-bottom: 20px;
    color: #fff;
    font-family: "SegoeUILight", sans-serif;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    line-height: 1.1;
    @media(min-width: 500px) {
      margin-bottom: 0;
    }
  }
}

.features {
  background-color: #feefd0;
  &__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
  }
  &__brick {
    flex-basis: calc(100%);
    display: flex;
    flex-direction: column;
    @media(min-width: 500px) {
      flex-basis: calc(50% - 30px * 1/2);
    }
    @media(min-width: 800px) {
      flex-basis: calc(33.33% - 30px * 2/3);
    }
  }
  &__picture {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    &--auto {
      background-image: url("../img/icons/icon-auto.png");
    }
    &--cash {
      background-image: url("../img/icons/icon-cash.png");
    }
    &--transition {
      background-image: url("../img/icons/icon-transition.png");
    }
    &--sale {
      background-image: url("../img/icons/icon-sale.png");
    }
    &--people {
      background-image: url("../img/icons/icon-people.png");
    }
    &--tracking {
      background-image: url("../img/icons/icon-tracking.png");
    }
  }
  &__title {
    color: #333;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 18px;
  }
  &__text {
    color: #333;
    font-size: 16px;
  }
}

/** ===========================
 *  Слайдер
 *  ===========================
*/
.swiper {
  &-container {
      max-width: 760px;
      height: 580px;
      margin-top: 40px;
      line-height: 1.2;
      @media(min-width: 680px) {
        height: 400px;
      }
  }
  &-slide {
    padding: 0;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(min-width: 680px) {
      padding: 0 80px;
    }
  }
  &-description {
    width: 100%;
    color: #333;
    font-family: "SegoeUILight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    p {
      margin-top: 0;
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 35%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  z-index: 10;
  cursor: pointer;
  background-size: 60px 60px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev {
  display: none;
  left: 0;
  background-image: url("../img/icons/icon-arrow_left.png");
  @media(min-width: 800px) {
    display: block;
  }
}
.swiper-button-next {
  display: none;
  right: 0;
  background-image: url("../img/icons/icon-arrow_right.png");
  @media(min-width: 800px) {
    display: block;
  }
}

.user {
  &__name {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
  }
  &__job {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 30px;
    color: #999;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    border-bottom: 2px solid rgba(#333, .5);
  }
  &__picture {
    position: relative;
    margin: 0 0 0 20px;
    padding: 10px 0 0 0;
    img {
      max-width: 100%;
    }
    &:after {
      position: absolute;
      content: '';
      width: 22px;
      height: 25px;
      top: -22px;
      left: 25px;
      background-image: url("../img/icons/icon-triangle.jpg");
      z-index: 20;
    }
  }
}

.content-top {
  position: relative;
  background-color: #feefd0;
  &__description {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #333;
  }
}
.attantion {
  color: #e64e2c;
}

.modules {
  &__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
  }
  &__brick {
    display: flex;
    flex-basis: calc(100%);
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 60px;
    flex-direction: column;
    @media(min-width: 620px) {
      flex-basis: calc(50% - 30px * 1/2);
    }
    @media(min-width: 860px) {
      flex-direction: row;
    }
  }
  &__picture {
    min-width: 140px;
    margin: 0 20px 0 0;
    img {
      max-width: 100%;
    }
  }
  &__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
  }
  &__title {
    margin-bottom: 15px;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 18px;
  }
  &__text {
    font-family: "SegoeUILight", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  &__link {
    display: block;
    width: 180px;
    height: 50px;
    color: #e64e2c;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #e64e2c;
    border-radius: 8px;
    line-height: 3.3;
  }
  &__price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(100%);
    padding-bottom: 10px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    @media(min-width: 820px) {
      flex-basis: calc(33.33% - 20px * 2/3);
    }
  }
  &__price-heading {
    padding: 30px;
    text-align: center;
    line-height: 1.3;
    &--free {
      background-color: #fcb016;
    }
    &--standard {
      background-color: #f07922;
    }
    &--premium {
      background-color: #e64e2c;
    }
  }
  &__price-title {
    display: block;
    color: #fff;
    font-family: "SegoeUILight", sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
  }
  &__price-subtitle {
    display: block;
    color: #fff;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
  }
  &__list {
    padding: 0 20px;
    color: #333;
    font-size: 18px;
    text-align: center;
  }
  &__price-item {
    position: relative;
    padding: 20px 0;
    &:after {
      position: absolute;
      content: '';
      width: 100px;
      height: 1px;
      left: 50%;
      bottom: 0;
      margin-left: -50px;
      opacity: 0.25;
      background-color: #000;
    }
    span {
      display: block;
    }
    &:last-child {
      &:after {
        background-color: transparent;
      }
    }
  }
  &__price-digital {
    font-family: "SegoeUIBold", sans-serif;
  }
  &__price-link {
    display: block;
    width: 160px;
    height: 50px;
    margin: 0 auto;
    color: #fff;
    font-family: "SegoeUISemiBold", sans-serif;
    font-size: 14px;
    border-radius: 8px;
    text-transform: uppercase;
    text-align: center;
    line-height: 3.5;
    transition: all .4s;
    &:hover {
      background-color: transparent;
      transition: all .4s;
    }
    &--free {
      background-color: #fcb016;
      border: 1px solid #fcb016;
      &:hover {
        color: #fcb016;
      }
    }
    &--standard {
      background-color: #f07922;
      border: 1px solid #f07922;
      &:hover {
        color: #f07922;
      }
    }
    &--premium {
      background-color: #e64e2c;
      border: 1px solid #e64e2c;
      &:hover {
        color: #e64e2c;
      }
    }
  }
}

.reporting-list {
  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    @media(min-width: 700px) {
      flex-direction: row;
    }
    span {
      display: block;
    }
  }
  &__picture {
    width: 120px;
    height: 120px;
    margin: 0 35px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &--budgeting {
      background-image: url("../img/icons/icon-Budgeting.png");
    }
    &--collaborative {
      background-image: url("../img/icons/icon-collaborative.png");
    }
    &--reporting {
      background-image: url("../img/icons/icon-report.png");
    }
    &--closing {
      background-image: url("../img/icons/icon-closing.png");
    }
    &--managing {
      background-image: url("../img/icons/icon-managing.png");
    }
    &--cash {
      background-image: url("../img/icons/icon-cash-bg.png");
    }
    &--order {
      background-image: url("../img/icons/icon-order.png");
    }
    &--invoices {
      background-image: url("../img/icons/icon-invoices.png");
    }
    &--returns {
      background-image: url("../img/icons/icon-returns.png");
    }
    &--time {
      background-image: url("../img/icons/icon-time.png");
    }
    &--track {
      background-image: url("../img/icons/icon-track.png");
    }
  }
  &__description {
    max-width: 460px;
  }
  &__title {
    margin-bottom: 15px;
    color: #333;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 18px;
  }
  &__text {
    font-size: 16px;
    font-weight: 400;
  }
}

.footer {
  width: 100%;
  height: 60px;
  flex: 0 0 auto;
  background-color: #333;
}
/*
Menu mobile
 */
.app-menu {
  transform: translateX(-100%);
  transition: transform 300ms linear;
  will-change: transform;
}

.app-menu-open .app-menu {
  transform: none;
  transition: transform 300ms linear;
}

.menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 150;
}

.app-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 82%;
  height: 100%;
  padding: 60px 20px;
  color: #333;
  background-color: #feefd0;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transform: translateX(-103%);
  z-index: 160;
  pointer-events: auto;
  will-change: transform;
  li {
    a {
      font-size: 16px;
      &:after {
        display: none;
      }
    }
  }
}

.menu--visible .app-menu {
  transform: none;
}

.menu--animatable .app-menu {
  transition: all 130ms ease-in;
}

.menu--visible.menu--animatable  .app-menu {
  transition: all 330ms ease-out;
}

.menu-mobile:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  will-change: opacity;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

.menu--visible.menu-mobile:after {
  opacity: 1;
  pointer-events: auto;
}

.mobile-layout {
  height: 100vh;
  overflow: hidden;
}

