@import "bourbon";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "SegoeUIRegular", sans-serif;
  overflow: auto;
  overflow: initial;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}

.wrap {
  width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  &--lg {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.top-panel {
  width: 100%;
  height: 60px;
  background-color: #fff;
  &__wrap {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo {
  width: 89px;
  height: 25px;
  margin-left: 30px;
  img {
    max-width: 100%;
  }
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin-left: 52px;
  &__item {
    margin-right: 35px;
  }
  &__link {
    position: relative;
    color: #333;
    font-size: 12px;
    font-family: "SegoeUIBold", sans-serif;
    text-transform: uppercase;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      left: 0;
      bottom: -20px;
      background-color: #e64e2c;
      opacity: 0;
      transition: all .4s;
    }
    &--active {
      &:after {
        opacity: 1;
      }
    }
    &:hover {
      &:after {
        opacity: 1;
        transition: all .4s;
      }
    }
    &--white {
      color: #fff;
    }
  }
}
.toggle-menu {
  margin-right: 10px;
  padding-right: 37px;
  color: #333;
  font-family: "SegoeUIBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-image: url("../img/icons/icon-gumburger.png");
  background-repeat: no-repeat;
  background-position: right center;
  &--white {
    color: #fff;
    background-image: url("../img/icons/icon-gumburger--white.png");
  }
}

.banner {
  position: relative;
  width: 100%;
  padding: 48px 0 90px 0;
  line-height: 1.2;
  img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__title {
    color: white;
    font-family: "SegoeUILight", sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    span {
      display: block;
    }
  }
  &__description {
    max-width: 700px;
    margin: 27px auto 0 auto;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 1.3;
  }
  &__links {
    margin-top: 40px;
    text-align: center;
  }
  &__link {
    display: inline-block;
    width: 180px;
    height: 50px;
    margin: 0 10px;
    color: #e64e2c;
    font-family: "SegoeUISemiBold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    line-height: 3.6;
    transition: all .3s;
    &:hover {
      color: #fff;
      background-color: transparent;
      transition: all .3s;
    }
    &:last-child {
      color: #fff;
      background-color: transparent;
      &:hover {
        color: #e64e2c;
        background-color: #fff;
      }
    }
  }
}

.section {
  padding: 60px 0;
  &__title {
    color: #333;
    font-family: "SegoeUILight", sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
  }
  &__description {
    color: #333;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
}

.video {
  position: relative;
  max-width: 620px;
  height: 346px;
  left: 50%;
  background-color: black;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.24);
  background-image: url("../img/picture/video_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: translateX(-50%);
  cursor: pointer;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
    transition: all .4s;
  }
  &:after {
    position: absolute;
    content: '';
    width: 96px;
    height: 96px;
    top: 50%;
    left: 50%;
    background-color: #fbb415;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    background-image: url("../img/icons/icon-play.png");
    background-repeat: no-repeat;
    background-position: 34px center;
    opacity: 1;
    transition: all .4s;
  }
  &:hover {
    &:before {
      opacity: 1;
      transition: all .4s;
    }
    &:after {
      opacity: .5;
      transition: all .4s;
    }
  }
}

.upgrade {
  width: 100%;
  height: 100px;
  background-color: #4bc1de;
  background-image: linear-gradient(to left, #e13731 0%, #fdb515 100%);
  .banner__links {
    margin-top: 0;
  }
  .banner__link {
    width: 130px;
    margin: 0 5px;
  }
  &__wrap {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: #fff;
    font-family: "SegoeUILight", sans-serif;
    font-size: 36px;
    font-weight: 300;
  }
}

.features {
  background-color: #feefd0;
  &__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
  }
  &__brick {
    flex-basis: calc(33.33% - 30px * 2/3);
    display: flex;
    flex-direction: column;
  }
  &__picture {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    &--auto {
      background-image: url("../img/icons/icon-auto.png");
    }
    &--cash {
      background-image: url("../img/icons/icon-cash.png");
    }
    &--transition {
      background-image: url("../img/icons/icon-transition.png");
    }
    &--sale {
      background-image: url("../img/icons/icon-sale.png");
    }
    &--people {
      background-image: url("../img/icons/icon-people.png");
    }
    &--tracking {
      background-image: url("../img/icons/icon-tracking.png");
    }
  }
  &__title {
    color: #333;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 18px;
  }
  &__text {
    color: #333;
    font-size: 16px;
  }
}

/** ===========================
 *  Слайдер
 *  ===========================
*/
.swiper {
  &-container {
      max-width: 760px;
      height: 400px;
      margin-top: 40px;
      line-height: 1.2;
  }
  &-slide {
    padding: 0 80px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-description {
    color: #333;
    font-family: "SegoeUILight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    p {
      margin-top: 0;
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 35%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  z-index: 10;
  cursor: pointer;
  background-size: 60px 60px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev {
  left: 0;
  background-image: url("../img/icons/icon-arrow_left.png");
}
.swiper-button-next {
  right: 0;
  background-image: url("../img/icons/icon-arrow_right.png");
}

.user {
  &__name {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
  }
  &__job {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 30px;
    color: #999;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    border-bottom: 2px solid rgba(#333, .5);
  }
  &__picture {
    position: relative;
    margin: 0 0 0 20px;
    padding: 10px 0 0 0;
    img {
      max-width: 100%;
    }
    &:before {
      position: absolute;
      content: '';
      width: 34px;
      height: 22px;
      top: -29px;
      left: 13px;
      border-bottom: 2px solid rgba(51,51,51,.5);
      transform: rotate(-45deg);
      z-index: 10;
    }
    &:after {
      position: absolute;
      content: '';
      width: 22px;
      height: 22px;
      top: -22px;
      left: 25px;
      border-left: 2px solid rgba(51,51,51,.5);
      border-top: 2px solid rgba(#fff, 1);
    }
  }
}

.content-top {
  background-color: #feefd0;
  &__description {
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #333;
  }
}
.attantion {
  color: #e64e2c;
}

.modules {
  &__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
  }
  &__brick {
    display: flex;
    flex-basis: calc(50% - 30px * 1/2);
    justify-content: space-between;
    margin-bottom: 60px;
  }
  &__picture {
    min-width: 140px;
    margin: 0 20px 0 0;
    img {
      max-width: 100%;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
  }
  &__title {
    margin-bottom: 15px;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 18px;
  }
  &__text {
    font-family: "SegoeUILight", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  &__link {
    display: block;
    width: 180px;
    height: 50px;
    color: #e64e2c;
    font-family: "SegoeUIBold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid #e64e2c;
    border-radius: 8px;
    line-height: 3.3;
  }
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #333;
}
